* {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body {
  background-image: linear-gradient(to bottom, rgb(23, 23, 23), rgb(88, 88, 88));
  width: 100vw;
  height: 100vh;
}

header {
  background-color: rgba(231, 231, 231, 0.948);
  color: black;
  height: 70px;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#links {
  width: 100%;
  text-align: center;
}

#links a {
  color: black;
  text-decoration: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-right: 20px;
  padding-bottom: 5px;
}

#links a:hover {
  border-bottom: 0.3px solid black;
  opacity: 0.7;

}

#links a:last-child {
  margin-right: 0px;
}

#know {
  background-image: url(./fundo.png);
  background-size: cover;
  height: 600px;
}

body {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(47, 47, 46));
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#know hr {
  border: none;
  background-color: white;
  opacity: 1;
  width: 70%;
  height: 0.5px;
}

#know h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: -10px;
}

#know h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.accordion {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#academic-titles h3 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Alegreya Sans SC', sans-serif;

}

#courses-container {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

#courses {
  text-align: center;
  width: 33%;
}

#courses p {
  color: white;
  font-size: 30px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;

}

#courses h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

#courses h5 {
  font-size: 100%;
  font-weight: 300;
}

#courses h6 {
  font-weight: 200;
  font-size: 10px;
}

footer {
  text-align: center;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: absolute;
  width: 100%;
}

#footer-icons a i {
  color: black;
}

#copyright p {
  color: black;
  font-size: 12px;
}



@media screen and (max-width: 414px) {
  #know h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 400;
  }
  
  #know h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-align: center;
  }
=======
  height: 90%;
  animation-duration: 3s;
}

#header h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

#header h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

#header hr {
  border: none;
  background-color: white;
  width: 70%;
  height: 0.5px;
  margin: 20px 0;
}

#header p {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 300;
}

#footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  animation-duration: 3s;
}

#footer-icons a {
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
}

#footer a {
  text-decoration: none;
  letter-spacing: 2px;
}

#footer-icons a:last-child {
  margin-right: 0px;
}