* {
    background-color: black;
    color: white;
}

#header {
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
}

#header h1 {
    font-size: 80%;
    border-bottom: 0.3px solid white;
    padding-bottom: 20px;
}

#header p {
    font-size: 60%;
    letter-spacing: 3px;
    font-weight: 300;
}

/* #header h2 {} */