* {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(47, 47, 46));
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  animation-duration: 3s;
  align-items: center;
  border-bottom: 0.3px solid white;
}

#header h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

#logo, #links {
  margin: 0 30px;
}

#links a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
}

#links a:last-child {
  margin-right: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  animation-duration: 3s;
}

#footer-icons a {
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
}

#footer a {
  text-decoration: none;
  letter-spacing: 2px;
}

#footer-icons a:last-child {
  margin-right: 0px;
}